@media (max-width: 767.98px) {
  button:active {
    background-color: #a9b5df;
  }
  button {
    font-size: 15px;
  }
  #url {
    font-size: 14px;
    width: 20rem;
    margin-bottom: 10px;
    margin-right: 0px !important;
  }
  #content-input {
    display: flex;
    flex-direction: column !important;
  }
  #content-button-input {
    display: flex;
    justify-content: center;
  }
  #title {
    font-size: 20px !important;
  }
  #logo {
    width: 8rem;
    height: 8rem;
  }
  #qrcode {
    margin-left: 2.5rem;
    width: 13rem;
    height: 13rem;
  }
  #content {
    border: none !important;
    padding: 0rem !important;
  }
  #background {
    padding-top: 6.29rem;
    padding-bottom: 6.29rem;
  }
}

main {
  background-image: linear-gradient(to bottom left, #3e53b0, #2d336b);
}

h1 {
  color: #fff2f2;
}

button {
  background-image: linear-gradient(to bottom left, #7483c6, #586abc);
  color: #fff2f2;
  width: fit-content;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: #a9b5df;
}

button:hover {
  background-image: linear-gradient(to bottom right, #34448e, #465dc5);
  pointer-events: painted;
}

#url {
  width: 23rem;
}
