@media (max-width: 767.98px) {
  #title {
    font-size: 20px !important;
  }
  #logo {
    width: 9rem;
    height: 9rem;
  }
  #qrcode {
    margin-left: 2.5rem;
    width: 13rem;
    height: 13rem;
  }
}
